:root {
    --text-outline-color: 245, 245, 245;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222125;
    font-size: 1em;
}

.title {
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0;
    color:#ee9507;
    text-shadow:
        1.5px 2.5px 6px rgba(var(--text-outline-color), 1);
}

.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 2em 5em;
}

.card {
    height: 15em;
    width: 10em;
    background-color: whitesmoke;
    border-radius: 0.5em;
    overflow: hidden;
}

.card > img {
    height: 12em;
    width: 100%;
    object-fit: cover;
    transition: height 0.3s, ease-out;
}

.card .name {
    text-align: center;
    padding-top: 0.2em;
}

.img:hover {
    height: 15em;
}


